.coolTitle {
    text-align: center;
    font-family: 'Oswald', Helvetica, sans-serif;
    font-size: 40px;
    transform: skewY(-10deg);
    letter-spacing: 4px;
    word-spacing: -8px;
    color: tomato;
    text-shadow: 
      -1px -1px 0 firebrick,
      -2px -2px 0 firebrick,
      -3px -3px 0 firebrick,
      -4px -4px 0 firebrick,
      -5px -5px 0 firebrick,
      -6px -6px 0 firebrick,
      -7px -7px 0 firebrick,
      -8px -8px 0 firebrick,
      -30px 20px 40px dimgrey;
  }
  
  li {
    color: rgb(0, 0, 0);
    margin-left: 200px;
  }
  
  h1, p {
    color:#482762;
    margin-left: 200px;
  }
  
  button {
    color: #fff; 
    background: #a0829b;
    padding: 5px;
    border-radius: 5px;
  }
  
  body {
    
    background-size: cover;
  }
  
  input {
    border-radius: 5px;
    padding: 10px;
    margin-left: 200px;
  }
  
  .testingIt {
    text-decoration-line: line-through;
  }
  
  .deleteButton {
    background-color: #a0829b;
    color: #fff;
    border-radius: 30px
 
  }
  
  .done {
    text-decoration: line-through #ff3c3c;
  }
  
