.coolTitle {
  text-align: center;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: -1px -1px 0 firebrick, -2px -2px 0 firebrick,
    -3px -3px 0 firebrick, -4px -4px 0 firebrick, -5px -5px 0 firebrick,
    -6px -6px 0 firebrick, -7px -7px 0 firebrick, -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

li {
  font-family: "Fuzzy Bubbles", cursive;
  color: rgb(246, 236, 236);
  margin-left: 200px;
}

h1 {
  /* font-family: "Fuzzy Bubbles", cursive; */
  font-family: "Silkscreen", cursive;
  color: #fdffdd;
  margin-left: 200px;
}
p {
  /* font-family: "Fuzzy Bubbles", cursive; */
  font-family: "Silkscreen", cursive;
  color: #fdffdd;
  margin-left: 200px;
}

button {
  color: #fff;
  background: #a0829b;
  padding: 5px;
  border-radius: 5px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}

input {
  border-radius: 5px;
  padding: 10px;
  margin-left: 200px;
}

.testingIt {
  text-decoration-line: line-through;
}

.deleteButton {
  background-color: #a0829b;
  color: #fff;
  border-radius: 30px;
  margin: 20px;


}

.done {
  text-decoration: line-through #ff3c3c;
}
