* {
    transition: all 0.5s ease;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bgcolor);
      font-family: 'Audiowide' ,sans-serif;
    color: var(--color);
    overflow-y: hidden;
}

.navbar {
    background-color: #0C1512;
    display: flex;
    position: sticky;
    top: 0px;
}

.navbar img {
    width: 70px;
    padding: 5px 10px 5px 100px;
}

.logo {
    width: 550px;
    /* text-align: center; */
    display: flex;
    color: white;
    justify-content: center;
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlinks li {
    text-align: center;

}

.navlinks a {
    display: flex;
    width: 130px;
    height: 30px;
    /* align-items: center; */
    /* justify-content: center; */
    text-decoration: none;
    color: white;
    /* padding-left: 10px; */
}

.navlinks a:hover {
    color: #d6b53c;
    /* background-color: #1A2930; */
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.container {
    background-color: var(--body-container);
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    border: solid 10px var(--body-conatiner-boder);
    border-radius: 20px;
    margin: 50px 0 50px 50px;
    padding: 0 30px;
}

h1 {
    font-size: 60px;
}

#clock,
#timep {
    font-size: 40px;
    font-size: 40px;
    font-weight: 500;
}

.container p {
    font-size: 30px;
}

a {
    text-decoration: none;
}

/* alarm */
.container-2 {
    margin: 50px;
    height: 75vh;
    background-color: var(--body-container);
    padding: 0 30px;
    border: solid 10px var(--body-conatiner-boder);
    border-radius: 20px;
    width: 25%;
}

.alarm {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    /* background: black; */
}

.alarm button {
    cursor: pointer;
    height: 52px;
    width: 80px;
    margin-top: 75px;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.3s;
}

.alarm button:hover {
    background-color: rgb(253, 22, 22);
    /* color: white; */
}
#hours:hover{
    transform:translateY(-0.2em);
    cursor:pointer;
}
#mins:hover{
    transform:translateY(-0.2em);
    cursor:pointer;
}
#setAlarm{
     background: none;
     height: 65px;
     width: 120px;
     margin-top: 80px;
    color:#1b10ac;
    border:2px solid;
    font-size:1em;
    transition:color 0.25s, background-color 0.25s,box-shadow 0.25s,transform 0.25s, border-color 0.25s;
}
#setAlarm:hover{
     border-color:#dc650a;
     height: 65px;
     width: 120px;
     margin-top: 80px;
    color:rgb(195, 10, 10);
    background-color: #05bad6;
    box-shadow:0 0.5em 0.5em -0.4em #e44e0e;
    transform:translateY(-0.1em);
    cursor:pointer;
}
.alarm select {
    width: 120px;
    height: 50px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 4px;
    background-color: darkgreen;
    color: white;
    outline: none;
    padding: 1.2em;

}
.alarm select:hover {
    border: 3px solid white;
    outline: none;
}
@media only screen and (max-width: 1000px) {
    body {
        overflow-y: auto;
    }

    .main {
        flex-direction: column;
        justify-content: space-around;
    }

    .container-2 {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 800px){
    body{
        overflow-x:hidden
    }
    .navbar{
        width: 100%;
    }
    .navlinks{
        visibility: hidden;
    }
    .main {
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 30px;
    }
.container{
    width: 100%;
}
}

/* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */

/*  Adding some theme theme */
.default:root{
    --body-bgcolor:  #36505c;
    --color: #1A2930;
    --body-container: #d6b53c;
    --body-conatiner-boder: #0C1512;
}

.dark:root{
    --body-bgcolor:  #000001;
    --color: #ffffff;
    --body-container: #02040eec;
    --body-conatiner-boder: #0C1512;
}

.ocean:root{
    --body-bgcolor: #095ca0;
    --color: #fafafa;
    --body-container: #03092a;
    --body-conatiner-boder: #171736;
}

/* Theme Css */
.theme_box{
    visibility: hidden;
    height: 0;
    width: 120px;
    padding: .3rem;
    background-color: rgba(250, 250, 250, .8);
    font-size: 1rem;
    list-style: none;
    box-shadow: 3px 3px 3px 0 rgb(0, 0, 0, .2);
    position: absolute;
    left: 0;
    top: 2rem;
    margin-left: 62%;
    transition: all 0.1s;
    padding-left: 20px;
    color: #000001;
}
.theme_box.open{
    margin-top: 10px;
    visibility: visible;
    height: 150%;
    border-radius: 8px;
}
.theme_box li {
    margin-bottom: .5rem;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
.theme_box li:last-child {
    margin-bottom: 0;
}

.theme_box li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 6px;
    right: 0;
    transition: width 0.3s;
}

.theme_box li:hover::after {
    width: 20%;
}

.theme_box.open li {
    opacity: 1;
}

ul{
    list-style-type: none;
}
li{
    cursor: pointer;
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* code ends here */
