*{
    transition: all 0.5s ease;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1A2930;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  #1A2930;
    overflow-y: hidden;
}
.navbar{
    background-color: #0C1512;
    display: flex;
    position: sticky;
    top:0px;
}
.navbar img{
    width: 70px;
    padding: 5px 10px 5px 100px;
}
.logo{
    width: 550px;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
}
.navlinks{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navlinks li{
    text-align: center;

}
.navlinks a{
    display: flex;
    width: 130px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.navlinks a:hover{
    color: #d6b53c;
    background-color: #1A2930;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.container{
    background-color: #d6b53c;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    top: 50px;
    border: solid 10px #0C1512;
    border-radius: 20px;
}
h1{
    font-size: 60px;
}
#clock,#timep{
    font-size: 40px;
    font-size: 40px;
    font-weight:500;
}
.container p{
    font-size: 30px;
}

a{
    text-decoration: none;
}
/* alarm */
.container-2 {
    margin-top: 50px;
    height: 75vh;
    background-color: #d6b53c;
    padding: 10px 30px 10px 10px;
    margin-right: 5px;
    border: solid 10px #0C1512;
    border-radius: 20px;
    margin-left: auto;
}
.alarm{
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    /* background: black; */
}
.alarm button {
    cursor: pointer;
    height: 65px;
    width: 80px;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.3s;
}
.alarm button:hover{
    background-color: skyblue;
    /* color: white; */
}
.alarm select{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 2px solid black;
}

@media only screen and (max-width: 1000px) {
    body{
        overflow-y: auto;
    }
    .main{
        flex-direction: column;
        justify-content: space-around;
    }
    .container-2{margin-bottom: 20px;}
    }

/* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
